src/ios/PDFViewer/Images.xcassets/AppIcon.appiconset/
src/ios/PDFViewer.xcodeproj
/src/android/ViewLib/.gradle/6.8/fileChanges/last-build.bin
/src/android/ViewLib/.gradle/6.8/fileHashes/fileHashes.lock
/src/android/ViewLib/.gradle/6.8/gc.properties
/src/android/ViewLib/.gradle/checksums/checksums.lock
/src/android/ViewLib/.gradle/configuration-cache/gc.properties
/src/android/ViewLib/.gradle/vcs-1/gc.properties
/src/android/ViewLib/.project
/src/android/ViewLib/.settings/org.eclipse.buildship.core.prefs
